{{aliens|json}}
hiba:{{error}}
<div *ngIf="!error;else hiba" class="container">

  <div class="row fw-bold my-3">
    <div *ngFor="let oszlop of oszlopok" class="col">
      {{oszlop.text}}
    </div> 
    <div class="col">
      Actions
    </div>
    </div>
 

  <div  class="row my-1">
    <div *ngFor="let oszlop of oszlopok" class="col">
      <input [(ngModel)]="newAlien[oszlop.key]" [type]="oszlop.type" class="form-control">
      
    </div>
    <div class="col">
      <button (click)="postAlien()" type="button" class="btn btn-primary btn-sm">Add</button>     
    </div>
  </div>

  <div *ngFor="let alien of aliens" class="row my-1">
    <div *ngFor="let oszlop of oszlopok" class="col">
      <input [(ngModel)]="alien[oszlop.key]" [type]="oszlop.type" class="form-control">
    </div>
    <div class="col">
      <button (click)="updateAlien(alien)" type="button" class="btn btn-primary btn-sm">Update</button>
      <button (click)="deleteAlien(alien)" type="button" class="ms-3 btn btn-secondary btn-sm">Delete</button>
    </div>
  </div>
 

</div>
<ng-template #hiba>
  <div class="alert alert-danger" role="alert">
    {{errorText}}
  </div>
</ng-template>
